body {
    background: #000000 url('https://i.ibb.co/BK4mK52R/ivan-bandura-w-Q00u-Un8-Og-unsplash.jpg') position=fixed !important;
    color: #FFFFFF !important;
}

.navbar-brand.visible-lg.visible-md {
    content: url('https://i.ibb.co/kV5yHfyd/Moon-Transparent-PNG-Clip-Art-639687983.png');
    width: 150px;
    height: 150px;
}

.col-md-9.col-xs-12 {
    background: rgba(44,44,44,0.5) !important;
}
    
